.form {
    border: 10px double black;
    width: fit-content;
    height: fit-content;
    position: absolute;
    margin-top: 3%;
    margin-left: 3%;
    padding: 5%;
    text-align: center;
    font: 1em 'Arial';
    font-weight: bold;
    border-radius: 10px;
}

.form > button {
    background-color: white;
    font: 'Georgia';
    font-weight: bold;
    border: 1px double black;
    border-radius: 10px;
}