.tetris-piece {
    position: absolute;
}

.chesspiece {
    height: 0px;
    width: 0px;
}

.chesspiece > img {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}