.homepage {
    font: 8em 'Georgia';
    text-align: center;
    color: black;
    background-color: white;
    border: 10px double black;
    border-radius: 10px;
    height: 800px;
    width: 1400px;
    margin: 0 5%;
}

.homepage img {
    border: 10px double black;
    size: 600px 600px;
}

.homepage button {
    border: 10px double black;
    background-color: white;
    margin: 0 10px;
    padding: 2% 2%;
    border-radius: 10px;
    font-weight: bold;
}