.continue-box {
    font: 50px 'Georgia';
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 5%;
    border: 10px double black;
    padding: 2%;
    width: fit-content;
    height: fit-content;
    position: absolute;
}

.continue-box > button {
    background-color: white;
    font: 'Georgia';
    font-weight: bold;
    border: 1px double black;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
}