.rankingspage {
    color: black;
    background-color: white;
    border-bottom: 10px double black;
    border-right: 10px double black;
    border-left: 10px double black;
    border-radius: 10px;
    height: 900px;
    width: 1487px;
    position: absolute;
}

.rankingspage > button {
    position: absolute;
    font: 'Georgia';
    font-weight: bold;
    padding: 2%;
    border: 5px double black;
}

#player-rankings-btn {
    top: 35px;
    left: 250px;
}

#score-rankings-btn {
    top: 35px;
    left: 500px;
}

#time-rankings-btn {
    top: 35px;
    left: 750px;
}

#player-rankings-btn:focus {
    color: white;
    background-color: black;
}

#score-rankings-btn:focus {
    color: white;
    background-color: black;
}

#time-rankings-btn:focus {
    color: white;
    background-color: black;
}