.rankings-list {
    font: 30px 'Georgia';
    width: fit-content;
    height: fit-content;
    border: 10px double black;
    padding: 3% 6%;
    position: absolute;
    top: 150px;
    left: 250px;
    text-align: center;
}